<a href="https://colab.research.google.com/github/Anju15Chauhan/descriptive-stats/blob/main/centraltendencyAnju.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Central Tendency
 • Central tendency is a statistical concept that refersto the
typical or central value of a distribution of data.
 • It is a measure that summarizes the center of a data set,
indicating where most of the data points are clustered
around.
 • They are particularly useful for describing the center of a
large set of data, such as the salaries of a company's
employees, the heights of a population, or the scores of a
test.
 6
Themostcommonmeasuresofcentraltendencyare:
 1. Mean: The arithmetic mean is the sum of all the data
points divided by the number of data points. It is sensitive
to outliers.
 2. Median:Themedianisthemiddlevaluewhen thedatais
arranged in order. It is less sensitive to outliers than the
mean.
 3. Mode: The mode is the value that occurs most frequently
 in the data set. There can be one or more modes in a data
 set.

**
1.Find the mean score of a student who received the following test scores: 85, 90, 78, 92, and 88.
**

In [ ]:
import statistics

# Define the dataset
scores = [85, 90, 78, 92, 88]

# Calculate the mean score
mean_score = statistics.mean(scores)

# Calculate the median
median_score = statistics.median(scores)

# Calculate the mode
mode_score = statistics.mode(scores)

# Print the results
print("Mean Score:", mean_score)
print("Median Score:", median_score)
print("Mode Score:", mode_score)

Mean Score: 86.6
Median Score: 88
Mode Score: 85

2.Calculate the median of the following set of numbers: 12, 15, 22, 9, 14, 18, and 20.

In [ ]:
# Define the dataset
numbers = [12, 15, 22, 9, 14, 18, 20]

# Calculate the median
median = statistics.median(numbers)

# Calculate the mean
mean = statistics.mean(numbers)

# Calculate the mode
mode = statistics.mode(numbers)

# Print the results
print("Median:", median)
print("Mean:", mean)
print("Mode:", mode)

Median: 15
Mean: 15.714285714285714
Mode: 12

3.Determine the mode of the following set of data: 3, 7, 3, 5, 9, 3, 8, 7, 9.

In [ ]:
# Define the dataset
data = [3, 7, 3, 5, 9, 3, 8, 7, 9]

# Calculate the mean
mean = statistics.mean(data)

# Calculate the median
median = statistics.median(data)

# Calculate the standard deviation
std_dev = statistics.stdev(data)

# Calculate the mode
mode = statistics.mode(data)

# Print the result
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)
print("Mode:", mode)

Mean: 6
Median: 7
Standard Deviation: 2.5495097567963922
Mode: 3

4.Find the mean salary of employees in a company if their salaries are $45,000, $50,000, $55,000, $60,000, and $65,000.

In [ ]:
# Define the dataset
salaries = [45000, 50000, 55000, 60000, 65000]

# Calculate the mean salary
mean_salary = statistics.mean(salaries)

# Print the result
print("Mean Salary:", mean_salary)

Mean Salary: 55000

5.Calculate the median house price in a neighborhood with the following prices: $300,000, $320,000, $250,000, $280,000, $310,000.

In [ ]:
# Define the dataset
house_prices = [300000, 320000, 250000, 280000, 310000]

# Calculate the median house price
median_price = statistics.median(house_prices)

# Print the result
print("Median House Price:", median_price)

Median House Price: 300000

6.Determine the mode of the number of books read by students in a class: 5, 6, 7, 5, 8, 6, 5.

In [ ]:
# Define the dataset
books_read = [5, 6, 7, 5, 8, 6, 5]

# Calculate the mode
mode = statistics.mode(books_read)

# Print the result
print("Mode:", mode)

Mode: 5

7.Find the mean height of basketball players on a team if their heights are 6'2", 6'4", 6'5", 6'7", and 6'8".

In [ ]:
# Define the dataset
heights = [62, 64, 65, 67, 68]

# Calculate the mean height
mean_height = statistics.mean(heights)

# Print the result
print("Mean Height:", mean_height)

Mean Height: 65.2

8.Calculate the median age of participants in a survey: 25, 32, 28, 40, 35, 29, 30.

In [ ]:
# Define the dataset
ages = [25, 32, 28, 40, 35, 29, 30]

# Calculate the median age
median_age = statistics.median(ages)

# Print the result
print("Median Age:", median_age)

Median Age: 30

9.Find the mean number of hours worked per week by employees if the hours are 40, 45, 35, 50, and 38.

In [ ]:
# Define the dataset
hours = [40, 45, 35, 50, 38]

# Calculate the mean number of hours
mean_hours = statistics.mean(hours)

# Print the result
print("Mean Hours:", mean_hours)

Mean Hours: 41.6

10.Calculate the median income of households in a city with the following incomes: $55,000, $60,000, $50,000, $70,000, $65,000.

In [ ]:
# Define the dataset
incomes = [55000, 60000, 50000, 70000, 65000]

# Calculate the median income
median_income = statistics.median(incomes)

# Print the result
print("Median Income:", median_income)

Median Income: 60000


11.Determine the mode of the grades received by students: A, B, A, C, B, A, B.

In [ ]:
# Define the dataset
grades = ['A', 'B', 'A', 'C', 'B', 'A', 'B']

# Calculate the mode
mode = statistics.mode(grades)

# Print the result
print("Mode:", mode)

Mode: A

12.Find the mean weight of fruits in a basket if their weights are 150g, 180g, 200g, 170g, and 160g.

In [ ]:
# Define the dataset
weights = [150, 180, 200, 170, 160]

# Calculate the mean weight
mean_weight = statistics.mean(weights)

# Print the result
print("Mean Weight:", mean_weight)

Mean Weight: 172

13.Calculate the median time taken to complete a race by runners: 30 minutes, 28 minutes, 35 minutes, 25 minutes, 32 minutes.

In [ ]:
# Define the dataset
times = [30, 28, 35, 25, 32]

# Calculate the median time
median_time = statistics.median(times)

# Print the result
print("Median Time:", median_time)

Median Time: 30

14.Determine the mode of the following data set: 14, 18, 14, 20, 22, 18, 14.

In [ ]:
# Define the dataset
data = [14, 18, 14, 20, 22, 18, 14]

# Calculate the mode
mode = statistics.mode(data)

# Print the result
print("Mode:", mode)

Mode: 14

15.Find the mean number of customers visiting a store each day if the numbers for the week are: 50, 60, 55, 70, 65, 80, 75.

In [ ]:
# Define the dataset
data = [50, 60, 55, 70, 65, 80, 75]

# Calculate the mean
mean = statistics.mean(data)

# Print the result
print("Mean:", mean)

Mean: 65

16.Calculate the median distance run by athletes: 5 km, 8 km, 6 km, 10 km, 7 km, 9 km.

In [ ]:
# Define the dataset
data = [5, 8, 6, 10, 7, 9]

# Calculate the median
median = statistics.median(data)

# Print the result
print("Median:", median)

Median: 7.5

17.Determine the mode of the following sequence of test scores: 90, 85, 90, 95, 90, 88.

In [ ]:
# Define the dataset
data = [90, 85, 90, 95, 90, 88]

# Calculate the mode
mode = statistics.mode(data)

# Print the result
print("Mode:", mode)

Mode: 90

18.Find the mean price of items in a grocery store if their prices are $2.50, $3.00, $1.75, $2.25, and $2.00.

In [ ]:
# Define the dataset
data = [2.5, 3.0, 1.75, 2.25, 2.0]

# Calculate the mean
mean = statistics.mean(data)

# Print the result
print("Mean:", mean)

Mean: 2.3

19.Calculate the median number of pets owned by families in a neighborhood: 1, 2, 3, 1, 4, 2, 1.

In [ ]:
# Define the dataset
data = [1, 2, 3, 1, 4, 2, 1]

# Calculate the median
median = statistics.median(data)

# Print the result
print("Median:", median)

Median: 2

20.Determine the mode of the following shoe sizes: 8, 9, 10, 8, 11, 9, 8.

In [ ]:
# Define the dataset
data = [8, 9, 10, 8, 11, 9, 8]

# Calculate the mode
mode = statistics.mode(data)

# Print the result
print("Mode:", mode)

Mode: 8